api/.env
api/.next/
api/node_modules/
Project/.next/
Project/node_modules/

Project/UsersmarcoAppDataRoamingnpm/
api/UsersmarcoAppDataRoamingnpm/

Project/package-lock.json
api/package-lock.json
Project/jsconfig.json