.container0,
.ContainerTitulo {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ContainerTitulo {
  height: 150px;
  width: 100%;
}
.ContainerTitulo h1 {
  margin: auto;
  background: var(
    --text-gradient,
    linear-gradient(90deg, #7fe786 7.42%, #58a7fe 93.62%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.itemProject {
  padding: 0;
  border-radius: 15px;
  height: 400px;
  width: calc((100% / 2) - 50px);
  border: solid white 3px;
  filter: drop-shadow(
    0px 5.664373874664307px 11.328747749328613px rgba(17, 17, 17, 0.07)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.itemProjectImg {
  margin: auto;
  margin-right: 0;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.itemProjectImg img {
  margin: auto;
  height: auto;
  width: 100%;
}
.itemProjectTexts {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 10px;
  height: auto;
  width: auto;
  align-content: center;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.itemProjectTexts h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limita o número de linhas a 8 */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}
.itemProjectTexts p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* Limita o número de linhas a 8 */
  overflow: hidden;
  text-overflow: ellipsis;
}
.btnPush {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 150px;
  border: solid white 3px;
  border-radius: 25px;
  user-select: none;
}
.btnPush:active {
  transform: scale(1.05);
}
.btnPush span {
  margin: auto;
}
.rowCardItens {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
}
.btnMore {
  margin: 50px auto;
  color: white;
  border: solid white 3px;
  padding: 20px 50px;
  border-radius: 22px;
  user-select: none;
  cursor: pointer;
}
.btnMore:active {
  transform: scale(1.05);
}
.btnDisable {
  border: solid rgba(255, 255, 255, 0.361) 3px;

  color: rgba(255, 255, 255, 0.361);
}
.loadercontainer {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1600px) {
  /* */
}
@media (max-width: 1500px) {
  .itemProjectTexts {
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 20px;
    width: 60%;
  }
  .itemProjectImg {
    padding-left: 0;
    margin-left: 0;
    width: 40%;
  }
}
@media (max-width: 1170px) {
  .itemProjectImg img {
    height: 100%;
    width: auto;
  }
  .itemProject {
    height: auto;
  }

  .ContainerTitulo {
    height: 100px;
  }
  .rowCardItens {
    gap: 20px;
  }
  .itemProject {
    padding: 0;
    margin: 0 auto;
    width: 600px;
  }
}
@media (max-width: 670px) {
  .ContainerTitulo {
    height: 80px;
    font-size: medium;
  }
  .itemProject {
    margin: 0 auto;

    width: 95%;
  }
}
@media (max-width: 580px) {
  .ContainerTitulo {
    height: 80px;
    font-size: small;
  }
  .itemProject {
    padding-left: 0;
  }
  .itemProjectTexts {
    margin: 0;
    margin-left: -20px;
  }
  .itemProjectImg img {
    margin-left: -30px;
  }
}
@media (max-width: 530px) {
  .rowCardItens {
    width: 100%;
  }

  .itemProjectTexts p {
    display: none;
  }
  .itemProjectImg {
    width: 50%;
  }
  .itemProjectImg img {
    height: auto;
    width: 100%;
  }
  .itemProjectTexts {
    margin: 0;
    padding-left: 20px;
    padding-right: 0;
    width: 200px;
  }
  .itemProjectImg img {
    margin-left: 0px;
  }
}
