@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@300;400;600&family=Lakki+Reddy&family=Lilita+One&family=Londrina+Solid&family=Montserrat:wght@500&display=swap");
.container0 {
  height: 120px;
  width: 100%;
  border: solid white 2px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.logo {
  color: white;
  font-family: "Inter", sans-serif;
  margin: auto 0;
  margin-left: 90px;
  font-weight: 400;
}
.logo h1 {
  font-weight: 500;
}
.rowsBTNS {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-right: 200px;
  padding-top: 10px;
}
.rowsBTNS div {
  cursor: pointer;
  margin-right: 40px;
}
.rowsBTNS div:active {
  transform: scale(1.05);
}

.isEnable {
  display: flex;
}
.isNotEnable {
  display: none;
}
.isNotNotEnable {
  display: none;
}

.ColunmBTN {
  position: absolute;
  border-radius: 15px;
  background-color: rgba(21, 26, 32, 1);
  border: solid white 2px;
  padding: 0 20px;
  padding-bottom: 5px;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  flex-direction: column;
}
.ColunmBTN div {
  margin-top: 15px;
  cursor: pointer;
}
.ColunmBTN div:active {
  transform: scale(1.05);
}

@media (max-width: 1500px) {
  .rowsBTNS {
    margin-right: 100px;
  }
}
@media (max-width: 1250px) {
  .rowsBTNS {
    margin-right: 50px;
  }
}
@media (max-width: 1030px) {
  .isEnable {
    display: none;
  }
  .isNotEnable {
    display: flex;
  }
}
@media (max-width: 800px) {
  .container0 {
    height: 100px;
  }
  .rowsBTNS {
    margin-right: 10px;
  }
  .rowsBTNS div {
    margin-right: 20px;
  }
}
@media (max-width: 650px) {
  .rowsBTNS {
    margin-right: 10px;
  }
  .rowsBTNS div {
    margin-right: 20px;
  }
  .logo {
    margin-left: 50px;
  }
}
@media (max-width: 550px) {
  .rowsBTNS {
    margin: 0;
  }
  .logo h1 {
    font-size: 20pt;
  }
  .logo {
    margin-left: 0;
  }
  .isNotEnable {
    display: none;
  }
  .isNotNotEnable {
    display: flex;
  }
}

@media (max-width: 450px) {
  .rowsBTNS div {
    margin-right: 0;
  }
}
